<%= form_with(model: [@job_application, interview], class: "contents") do |form| %>
  <% if interview.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
        <% interview.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :interview_at %>
    <%= form.date_field :interview_at, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :interview_type, "Interview Type", class: "block mb-2 text-base font-medium text-gray-900"  %>
    <%= form.select :interview_type, Interview.interview_types.keys.map { |interview_type| [interview_type.titleize, interview_type] }, { include_blank: false }, { class: "bg-white border border-gray-300 text-gray-900 text-base rounded-lg block w-full p-2.5" } %>
  </div>

  <div class="my-5">
    <%= form.label :details %>
    <%= form.text_area :details, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :interviewers_info %>
    <%= form.text_area :interviewers_info, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :url %>
    <%= form.text_field :url, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline flex justify-between	">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-ptpurple text-white inline-block font-medium cursor-pointer" %>
    <%= link_to "Back", job_application_path(@job_application), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
<% end %>
