<div class="w-full pb-5">
  <div class="mx-auto" data-controller="bridge--menu">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @interview %>

    <div class="flex flex-row justify-between space-x-2 mt-6">
      <%= link_to "Edit", edit_job_application_interview_path(@interview.job_application_id, @interview), "data-bridge--menu-target": "edit", class: "flex-1 text-center rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium turbo-native:hidden" %>

      <%= link_to "Delete", job_application_interview_path(@interview.job_application_id, @interview), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "flex-1 text-center rounded-lg py-3 text-white px-5 bg-gray-500 inline-block font-medium" %>

      <%= link_to "Back", job_application_path(@interview.job_application), class: "flex-1 ml-2 text-center rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium turbo-native:hidden" %>
    </div>
  </div>
</div>
